@import "../../styles/base/padding.scss";

.language {
  position: absolute;
  right: 30px;
  top: 30px;

  img {
    cursor: pointer;
    filter: grayscale(1);
  }

  img:first-child {
    margin-right: $padding-inside-component;
  }

  img.language_img--selected {
    filter: unset;
  }
}
